@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800&subset=latin-ext');

/* COLORS




 */

/*GENERAL SETTINGS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Raleway', Arial, sans-serif;
    font-size: 10px;

}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* GRID */

.container {
    width: 1050px;
    margin: auto;
}
.container-slider--first{
    width: 950px;
    margin: auto;
}
.slider-arrows--left,
.slider-arrows--right{
    width: 40px;
    margin: auto;
}
.col-1-of-2{
    float: left;
    margin: auto;
    width: 50%;
}
.col-1-of-3{
    width: 30%;
    margin: 0;
    float: left;
}

/*HEADER*/

header {
    background-color: #000;
    width: 100%;
    height: 4rem;
}
header div,
header span {

}
header div {

}
.logo a span {
    color: turquoise;
    font-weight: 900;

}
.logo a {
    color: white;
    font-weight: 700;
    float: left;
    font-size: 1rem;
    line-height: 4rem;
    width: 15rem;
    text-decoration: none;
}
.logo a:hover {
    font-weight: 900;
    transform: scale(1.05);
}
.mainNav{
    float: right;
}
.mainNav li {
    display:inline-block;
    padding: 0 .5rem;
}
.mainNav a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 4rem;
    text-transform: uppercase;
    text-decoration: none;
}
.mainNav a:hover{
    font-weight: 700;
}

/* Section : Slider */

.slider {

    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cfd7',GradientType=0 );

    position: relative;
    height: 50rem;
    width: 100%;

}
/* Section: slider navigation arrows */

.slider-arrows--left a,
.slider-arrows--right a{
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    line-height: 50rem;
    color: turquoise;
    text-decoration:none;
    z-index: 2;
}
.slider-arrows--left{
    float: left;
}
.slider-arrows--right{
    float: right;
}

.slider-arrows--right a:hover,
.slider-arrows--left a:hover{
    color: darkturquoise;
    font-weight: 400;
}

/* Section: slider--first */
.container-slider--first img{
    position: relative;
    top: 14rem;
    transform: scale(1.5);
    z-index: 1;
}
.container-slider--first h1{
    padding: 12rem 0 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}
.container-slider--first span {
    color: turquoise;
}
.container-slider--first p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem;
}
.container-slider--first a {
    background-color: turquoise;
    border-radius: .5rem;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    margin: 2.5rem auto 0 auto;
    width: 15rem;
    height: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.container-slider--first a:hover{
    font-weight: 700;
    background-color: #FFF;
    color: turquoise;
}
.container-slider--first a:active{
    font-weight: 700;
    background-color: #FFF;
    color: turquoise;
    box-shadow: inset 0 0 0 2px turquoise;
}

/* Section: Gallery */
.gallery {
    margin:25px 0;
}

#gallery-box2{
    margin:0 35px;
}
#gallery-box3 {
    display: inline-block;
    border: 1px solid #d0cfd7;
    height: auto;
    padding: 30px 20px;
}
#gallery-box3 h2{
    font-size: 1.2rem;
    padding-bottom: 5px;
}
#gallery-box3 p{
    font-size: .9rem;
    padding-bottom: 10px;
}
.gallery-bar {
    background-color: turquoise;
    width: 120px;
    height: 8px;
    display: block;
    margin-bottom: 5px;
}