@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800&subset=latin-ext');

/* COLORS




 */

/*GENERAL SETTINGS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family:'Raleway', Arial, sans-serif;
    font-size: 10px;

}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* GRID */

.container {
    width: 1050px;
    margin: auto;
}
.container-slider--first{
    width: 950px;
    margin: auto;
}
.slider-arrows--left,
.slider-arrows--right{
    width: 40px;
    margin: auto;
}
.col-1-of-2{
    float: left;
    margin: auto;
    width: 50%;
}
.col-1-of-3{
    width: 30%;
    margin: 0;
    float: left;
}
.col-2-of-3{
    width: 70%;
    margin: 0;
    float: left;
}

/*HEADER*/

header {
    background-color: #000;
    width: 100%;
    height: 4rem;
}

.logo a span {
    color: turquoise;
    font-weight: 900;

}
.logo a {
    color: white;
    font-weight: 700;
    float: left;
    font-size: 1rem;
    line-height: 4rem;
    width: 15rem;
    text-decoration: none;
}
.logo a:hover {
    font-weight: 900;
    transform: scale(1.05);
}
.mainNav{
    float: right;
}
.mainNav li {
    display:inline-block;
    padding: 0 .5rem;
}
.mainNav a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 4rem;
    text-transform: uppercase;
    text-decoration: none;
}
.mainNav a:hover{
    font-weight: 700;
}
.dropdown {
    width: 150px;
    height: auto;
    display: inline-block;
    color: white;
    background-color: black;
}
.hidden {
    display: none;
}
/* Section : Slider */

.slider {

    /* FF3.6-15 */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d0cfd7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#d0cfd7 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cfd7',GradientType=0 );

    position: relative;
    height: 50rem;
    width: 100%;

}
/* Section: slider navigation arrows */

.slider-arrows--left a,
.slider-arrows--right a{
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    line-height: 50rem;
    color: turquoise;
    text-decoration:none;
    z-index: 2;
}
.slider-arrows--left{
    float: left;
}
.slider-arrows--right{
    float: right;
}

.slider-arrows--right a:hover,
.slider-arrows--left a:hover{
    color: darkturquoise;
    font-weight: 400;
}

/* Section: slider--first */
.container-slider--first img{
    position: relative;
    top: 14rem;
    transform: scale(1.5);
    z-index: 1;
}
.container-slider--first h1{
    padding: 12rem 0 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}
.container-slider--first span {
    color: turquoise;
}
.container-slider--first p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem;
}
.container-slider--first a {
    background-color: turquoise;
    border-radius: .5rem;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    margin: 2.5rem auto 0 auto;
    width: 15rem;
    height: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.container-slider--first a:hover{
    font-weight: 700;
    background-color: #FFF;
    color: turquoise;
}
.container-slider--first a:active{
    font-weight: 700;
    background-color: #FFF;
    color: turquoise;
    box-shadow: inset 0 0 0 2px turquoise;
}

/* Section: Gallery */
.gallery {
    margin:25px 0 35px 0;
}

#gallery-box2{
    margin:0 35px;
}
#gallery-box3 {
    display: inline-block;
    border: 1px solid #d0cfd7;
    height: auto;
    padding: 30px 20px;
}
#gallery-box3 h2{
    font-size: 1.2rem;
    padding-bottom: 8px;
}
#gallery-box3 p{
    font-size: .9rem;
    padding: 10px 0;

}
.gallery-bar {
    background-color: turquoise;
    width: 120px;
    height: 5px;
    display: block;

}

/* Section priceList */
.priceList {
    background-color: #dcdcdc;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.priceList h2,
.contact-section h2{
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-top: 25px;
    margin: 50px 0;
}
.priceList h2:after,
.contact-section h2:after {
    content: '';
    background-color: turquoise;
    width: 180px;
    height: 5px;
    display: block;
}
.box-product {
    border: 2px solid #c1c0c8;
    position: relative;
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: white;
    text-align: center;
}
.box-product-decor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #c1c0c8;
    left: 50%;
    top: -15px;
    transform: translate(-50%, -25%);
    padding-bottom: 5px;
}
.box-product-decor:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #d0cfd7;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box-product h3 {
    padding: 40px 0;
    font-size: 1.8rem;
    color: turquoise;
}
.standard{
    margin-left: 35px;
}
.advenced{
    margin-left: 70px;
}
.price-style {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #c1c0c8;
}
.price-style p {
    display:absolute;
    line-height:135px;
    font-size: 2.8rem;
    font-weight: bolder;
    color: #a8a8a8;
}
.price-style p:last-child {
    position:absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    line-height: 12px;
}
.box-product-items {
    display: block;
    margin-top: 180px;
}
.product-item-first,
.product-item-second,
.product-item-third,
.product-item-forth{
    display: block;
    width: 100%;
    line-height: 15px;
    font-size: 1.3rem;
    padding: 15px 0;
}
.product-item-first,
.product-item-third{
    background-color: #d0d0d6;
}
.product-item-second,
.product-item-forth{
    background-color: #DCDCDC;
}

/* Standard-pricelist styles */

.standard {
    background-color: turquoise;
    border: 1px solid turquoise;
}
.standard > .box-product-decor:after {
    background-color: white;
}
.standard > .box-product-decor2 {
    background-color: turquoise;
    border: 2px solid turquoise;
}
.standard > h3{
    color: white;
}
.standard .price-style {
    background-color: white;
    border:2px solid white;
}
.standard .price-style > p{
    color: turquoise;
}
.standard .product-item-first,
.standard .product-item-third{
    background-color: white;
}

/* BUTTONS */

.btn,
.btn:link,
.btn:visited{
    position: absolute;
    background-color: turquoise;
    bottom: 5%;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transform: translateX(-50%);
    padding: 10px;
}
.btn:hover,
.btn:active{
    font-weight: bold;
}
.btn:active{
    box-shadow: inset 0 3px 5px #008e91;
}

/* BUTON STANDARD-pricelist */

.standard > .btn,
.standard > .btn:link,
.standard > .btn:visited{
    background-color: white;
    color: turquoise;
}
.standard > .btn:hover,
.standard > .btn:active{
    font-weight: bold;
}
.standard > .btn:active{
    box-shadow: inset 0 3px 5px #008e91;
}

/*Section - Contact form*/
.contact-section {
    position: relative;
}
.contact-section h2{
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-top: 25px;
    margin: 15px 0;
}
.contact-section h2:after {
    content: '';
    background-color: turquoise;
    width: 180px;
    height: 5px;
    display: block;
}

.contact-form {
    font-size: 1.3rem;
}

.contact-form input,
.contact-form textarea {
    border: 2px solid turquoise;
    line-height: 60px;
    margin: 15px auto;
    padding: 0 10px;
    height: 60px;
    width: 650px;
}
.contact-form textarea {
    resize: none;
    height: 200px;
    line-height: 2rem;
    padding: 15px 0 15px 10px;
}
contact-section-chair img {
    margin: 20px 0;

}
checkbox {
    width: 47px;
    height: 47px;
    position: relative;
    top: 10px;
    left: 75px;
}

.checkbox span {
    width: 47px;
    height: 47px;
    border: 2px solid turquoise;
    display: block;
}

.checkbox [type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox [type="checkbox"]:checked + span {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.agree_text {
    color: gray;
    font-size: 13px;
    float: right;
    position: relative;
    bottom: 35px;
    right: 40px;

}
.btn-checkbox {
    position:absolute;
    text-transform: uppercase;
    background-color: turquoise;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    height: 60px;
    width: 300px;
    margin: 10px auto;
    font-weight: 600;
}
.btn-checkbox:hover {
    font-weight: 700;
}
.section-checkbox aside,
.section-checkbox label {
    display: inline-block;
}
.section-checkbox aside {
    font-size: 1.2rem;
    color: #d0cfd7;
    display: block;
    padding-top: 5px;
}

/* Footer */

footer  {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}
footer:after {
    content: "";
    display: block;
    clear: both;
}
.rights {
    float: left;
    color: grey;
    width: 60%;
    padding-top: 45px;
    font-size: 12px;
}

.socials {
    float: left;
    height: 80px;
    margin: 20px 30px;
    padding-top: 15px;
}

.logo-footer {
    float: right;
    padding-top: 40px;

}
.logo-footer a {
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    margin: 25px 0px;
    color: black;
}
.logo-footer span {
    text-align: right;
    padding-top: 30px 0;
    color: turquoise;
}